PHOTOS-
First meeting of Council Photo
Council meeting minutes, Photos of meeting
CVSc foundation day photos
Photos with VCI President
Photo of President on Bengal visit
Photo of Para-vet visit Silchar, Rani and Bokakhat
Photo of World veterinary day delhi
Disciplinary committee photo


ARTICLES-
Professor Dr. Bhaben Baishya
Professor Dr. Probodh Bora, Director of Research
Dr. Hiranya Bhattacharya, Associate Director of Extension Education
Dr. Dipak Sarma
Dr. Namita Das Nath
Dr. Krishna Nath
Dr. Dipak Talukdar
Write up on Renewal by the Registrar
Council at a glance

LAYOUT-
Tamil Nadu, Karnataka, West Bengal, VCI News Bulletin Format
